
alias path='echo -e ${PATH//:/\\n}'
alias copy_ssh="pbcopy < $HOME/.ssh/id_rsa.pub"
# IP addresses
ias ipe='dig +short myip.opendns.com @resolver1.opendns.com'
alias ipi='ipconfig getifaddr en0'

# GIT
alias gwip="git add .;git commit -m 'work in progress'; git status"
alias gic="git add .;git commit -m 'Initial Checkin';git status"
alias gamend="git commit --amend --reuse-message=HEAD"
alias glog="git log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'"
 # Undo last commit but keep changed files in stage
alias guncommit="git reset --soft HEAD~1"


# DOCKER
alias cdocker="docker container rm $(docker container ls -aq);docker system prune -f;docker container prune -f;docker image prune -f ;docker network prune -f;docker container stop $(docker container ls -aq)"
alias ldocker="echo 'DOCKER CONTAINERS';docker container ls -a;echo 'DOCKER IMAGES';docker image ls;echo 'DOCKER NETWORK';docker network ls"

alias svim='sudo vim'
alias update='brew cleanup; brew upgrade; brew update'
alias grep='grep --color=auto'
alias diff='colordiff'

